<log4net debug="false">
  <loggerfactory type="log4net.Util.Stamps.StampingLoggerFactory, log4net.Ext.Json">
    <stamp type='CC.Core.Common.Logging.log4net.NewGuidStamp, CC.Core.Common'>
    </stamp>
  </loggerfactory>

  <!-- Setup the root category, add the appenders and set the default priority -->
  <root>
    <!-- ALL  TRACE   DEBUG   INFO   WARN   ERROR   FATAL   OFF -->
    <level value="TRACE"/>
    <appender-ref ref="RollingLogFileAppender"/>
    <appender-ref ref="AuditRollingLogFileAppender"/>
    <!--<appender-ref ref="ElasticSearchStashAppender"/>-->
  </root>
  <!-- Setup the root category, add the appenders and set the default priority -->

  <logger name="log4net.Appender.KeepAliveAppender" additivity="false">
    <appender-ref ref="KeepAliveAppender"/>
  </logger>

  <appender name="KeepAliveAppender" type="CC.Core.Common.Logging.log4net, CC.Core.Common" additivity="false">
    <keepaliveinterval value="60000" />
    <appender-ref ref="RollingLogFileAppender"/>
  </appender>

  <appender name="AuditRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString">
      <conversionPattern value="CCAudit.log" />
    </file>
    <staticLogFileName value="true" />
    <appendToFile value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value=".yyyy-MM-dd_HH'.log'"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="100MB"/>
    <countDirection value="1"/>
    <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
      <decorator type="CC.Core.Common.Logging.log4net.JsonLogDecorator, CC.Core.Common" />
      <renderer type="log4net.ObjectRenderer.JsonObjectRenderer, log4net.Ext.Json">
        <factory type="CC.Core.Common.Logging.log4net.JsonLogSerializerFactory, CC.Core.Common" />
      </renderer>
      <member value="@key:logKey" />
      <member value="@timestamp:date" />
      <default />
      <remove value="date" />
      <remove value="message" />
      <!--<remove value="exception" />-->
      <remove value="ndc" />
      <member value="message:messageobject" />
      <!--<member value="exception:exceptionobject" />-->
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="FATAL"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString">
      <conversionPattern value="CCLogging.log" />
    </file>
    <staticLogFileName value="true" />
    <appendToFile value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value=".yyyy-MM-dd_HH'.log'"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="100MB"/>
    <countDirection value="1"/>
    <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
      <decorator type="CC.Core.Common.Logging.log4net.JsonLogDecorator, CC.Core.Common" />
      <renderer type="log4net.ObjectRenderer.JsonObjectRenderer, log4net.Ext.Json">
        <factory type="CC.Core.Common.Logging.log4net.JsonLogSerializerFactory, CC.Core.Common" />
      </renderer>
      <member value="@key:logKey" />
      <member value="@timestamp:date" />
      <default />
      <remove value="date" />
      <remove value="message" />
      <!--<remove value="exception" />-->
      <remove value="ndc" />
      <member value="message:messageobject" />
      <!--<member value="exception:exceptionobject" />-->      
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="TRACE"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

</log4net>
