<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SqlPlusConnString" value="cribiscomadmin/asdfghjkl123456789@CRIBISCOMCTP"/>
    <add key="CribisComSqlPlusConnString" value="CCONLMON/8Rtf}eSz%W5M\m*.Jp)i@CCSVIL"/>
    <!--<add key="ProjectRootDirectory" value="C:\_WA\CribisCom\HTTP Main Process\Sources\"/>-->
    <add key="ProjectRootDirectory" value="D:\_WA\CribisCom\"/>
  </appSettings>
  <connectionStrings>
    <add name="ProfileStore" connectionString="User Id=CCBTCPROF;Password=8Rtf}eSz%W5M\m*.Jp)i;Data Source=CCSVIL;Pooling=false"/>
    <add name="DomainConnectionString" connectionString="User Id=CCMIXDOMAINS;Password=8Rtf}eSz%W5M\m*.Jp)i;Data Source=CCSVIL;Pooling=false"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
